:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  position: relative;
}

html{
  font-size: 11px;
}

body{
  background: #eee;
  font-size: 2rem;
  min-width: 100vh;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root{
  padding: 2rem 3rem;
  min-height: 15rem;
  background-color: #fff;
  border-radius: 1.5rem 0;
  border: 1px solid #aaa;
  width: 90%;
  max-width: 700px;
  color: #444;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

h1, h2, h3{
  font-weight: 500;
}

header h1{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 img.logo{
  height: 5rem;
  width: 6rem;
  margin-right: .8rem;
  border-radius: 50%;
  place-self: center;
}

header h1 span, h2 span, button span{
  color: darkorange;
}
header p{
  color: chocolate;
  margin: 0;
}

h2{
  text-align: left;
  margin: 2rem 0 0;
  font-size: 1.9rem;
}

p.advice{
  color: #3c2001;
  border: .2rem solid #eee;
  border-radius: .7rem;
  border-top-color: chocolate;
  border-top-width: .5rem;
  padding: 1rem;
  margin: 0;
  text-align: left;
  font-size: 1.8rem;
}

button.get-advice{
  padding: 2rem 3rem;
  margin: 2rem auto 1rem;
  font-size: 1.9rem;
  background-color: #333;
  border-radius: .5rem;
  color: #eee;
  cursor: pointer;
  width: 80%;
  transition: background-color .4s;
  place-items: center;
  display: flex;
  justify-content: center;
}

button.get-advice span{
  margin-right: 1rem;
}

button.get-advice:hover{
  background-color: #444;
}

.loader{
  height: 2.5rem;
  width: 2.5rem; 
  border-radius: 50%;
  border: 1rem solid;
  border-top-color: #555;
  border-left-color: darkorange;
  border-bottom-color: #111;
  border-right-color: chocolate;
  margin-right: 1rem;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}
